@model SetOrResetPasswordVM
@{
    var Title = "Set your password";
    var Body = "Please set your password to complete the setup of your account.";
    if (Model.IsReset)
    {
        Title = "Reset your password";
        Body = "Please enter a new password below to reset.";
    }

    ViewData["Title"] = Title;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <form asp-action="SetOrResetPassword" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="IsReset" />
                        <input type="hidden" asp-for="Email" />
                        <input type="hidden" asp-for="Token" />

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
